@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.course_edit_base_input {
  margin: 5px;
  float: left;
}

.course_card_div>.ant-card>.ant-card-body {
  height: 110px;
  overflow: hidden;
  white-space: break-spaces;
  padding: 15px;
}

.ant-card-body::after,
.ant-card-body::before {
  display: none;
}

.ant-card-meta::after,
.ant-card-meta::before {
  display: none;
}

.card_add_div>.ant-card>.ant-card-body {
  height: 200px;
  overflow: hidden;
}

.ant-card-body::before {
  display: none;
}

.card_div>.ant-card>.ant-card-body {
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px 10px 5px 10px;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  scrollbar-width: thin;
}

@media screen and (min-width: 300px) {
  .course_edit_base_input {
    width: 98%;
  }

  .card_div {
    width: 100%;
  }

  .card_add_div {
    width: 100%;
  }

  .course_card_div {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .course_edit_base_input {
    width: 48%;
  }

  .card_div {
    width: 100%;
  }

  .card_add_div {
    width: 100%;
  }

  .course_card_div {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .course_edit_base_input {
    width: 48%;
  }

  .card_div {
    width: 50%;
  }

  .course_card_div {
    width: 50%;
  }

  .card_add_div {
    width: 50%;
  }
}

@media screen and (min-width: 1150px) {
  .course_edit_base_input {
    width: 32%;
  }

  .card_div {
    width: 33.3%;
  }

  .card_add_div {
    width: 33.3%;
  }

  .course_card_div {
    width: 33.3%;
  }
}

@media screen and (min-width: 1366px) {
  .course_edit_base_input {
    width: 24%;
  }

  .card_div {
    width: 25%;
  }

  .card_add_div {
    width: 25%;
  }

  .course_card_div {
    width: 25%;
  }
}

.title_form {
  margin: 5px;
  min-height: inherit;
  background-color: #fff;
  overflow: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  scrollbar-width: thin;
}

.input_table_row_style {
  text-align: center;
  display: block;
  margin: 20px;
}

::-webkit-scrollbar {
  width: thin;
}