@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.course_edit_base_input {
  margin: 5px;
  float: left;
}

@media screen and (min-width: 300px) {
  .course_edit_base_input {
    width: 98%;
  }
}

@media screen and (min-width: 576px) {
  .course_edit_base_input {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .course_edit_base_input {
    width: 48%;
  }
}

@media screen and (min-width: 1150px) {
  .course_edit_base_input {
    width: 32%;
  }
}

@media screen and (min-width: 1366px) {
  .course_edit_base_input {
    width: 24%;
  }
}

.title_form {
  margin: 5px;
  min-height: inherit;
  background-color: #fff;
  overflow: scroll;
}

.input_table_row_style {
  text-align: center;
  display: block;
  margin: 20px;
}